@font-face {
    font-family: "Product-Sans";
    src: url("../fonts/SVN-Product-Sans-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Product-Sans-Italic";
    src: url("../fonts/SVN-Product-Sans-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Product-Sans-Bol-Italic";
    src: url("../fonts/SVN-Product-Sans-Bold-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Product-Sans-Bold";
    src: url("../fonts/SVN-Product-Sans-Bold.otf") format("opentype");
    font-weight: bold;
}